.hide{
  display: none;
}



* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*Media container*/
.container {
max-width: 320px;
margin-left: auto;
margin-right: auto;
padding-right: 16px;
padding-left: 16px;
}
/*tablet*/
@media screen and (min-width: 768px) {
  .container{
    max-width: 768px;
  }
}

/*desktop*/
@media screen and (min-width: 1158px) {
  .container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }  
}


section {
  padding-top: 96px;
  padding-bottom: 103px;
  
}
@media only screen and (min-width: 768px) {
   section{
    padding-bottom: 96px;
    
  }
}

@media only screen and (min-width: 1158px) {
   section{
    padding-top: 120px;
  padding-bottom: 120px;
  }
}
/* Header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.menu {
  display: flex;
  align-items: center;
  
  
}
.logo {
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
   .logo{
    margin-right: 120px;
    
  }
}

.logo-accent {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}


@media screen and (max-width: 767px) {
  .nav-list{
    display: none;
  }
  
}
@media only screen and (min-width: 768px) {
   .nav-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
}

.nav-link {
  display: block;
  padding: 24px 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link.active:hover,
.nav-link.active:focus,
.contact-link:hover,
.contact-link:focus,
.nav-link.current {
  color: #404bbf;
}

address {
  display: none;
  font-style: normal;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
   address{
    display: block;
    
  }
}

.address-list {
  list-style-type: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 1158px) {
   .address-list{
    display: flex;
     gap: 40px;
    
  }
}


.contact-link {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
  
}
 @media only screen and (min-width: 768px) {
    .contact-link{
     font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
   }
 }

/* Hero-section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero > .container {
  padding-left: 0;
  padding-right: 0;
}
.hero {
  max-width: 320px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 72px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
@media (min-resolution: 192dpi) and (max-width: 767px) {
   .hero{
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero_mob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
   .hero{
    max-width: 768px;
    padding: 112px 0;
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero_tab.jpg);
     
  }
  @media (min-resolution: 192dpi) {
   .hero{
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero_tab@2x.jpg);
  }
}
}
@media only screen and (min-width: 1158px) {
   .hero{
    max-width: 1440px;
    padding: 188px 0;
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero_desk.jpg);
  }
  @media (min-resolution: 192dpi) {
   .hero{
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero_desk@2x.jpg);
  }
}
}

.hero-title {
  max-width: 216px;
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
  margin: auto;
  margin-bottom: 72px;
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;


}
@media only screen and (min-width: 768px) {
   .hero-title{   
font-size: 56px;
line-height: 1.07;
margin-bottom: 36px;
   max-width: 496px; 
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}


.hero-btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* Fetures-section */
.features-item {
  text-align: left;
}
@media only screen and (min-width: 768px) {
   .features-item {
    width: calc((100% - 24px) / 2); 
    
  }
}
@media only screen and (min-width: 1158px) {
   .features-item {
    width: calc((100% - 72px) / 4); 
  }

}
.features-list {
  display: flex;
 flex-wrap: wrap;

 gap: 72px;

}
@media only screen and (min-width: 768px) {
   .features-list{
display: flex;
flex-wrap: wrap;
gap: 72px 24px;
 justify-content: flex-start;
    text-align: left;
 }

}
@media only screen and (min-width: 1158px) {
   .features-list {
      list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  }
}
.features-icon-box {
  width: auto;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1157px) {
   .features-icon-box{
    display: none;
    
  }
}

.features-title {
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; 
font-size: 36px;
line-height: 1.11;
}
@media only screen and (min-width: 768px) {
   .features-title{
    text-align: left;
    font-weight: 700;

    
  }
}
@media only screen and (min-width: 1158px) {
   .features-title{
    text-align: left;
     font-weight: 500;
  font-size: 20px;
line-height: 1.2;
font-weight: 500;


  }
}


.features-text {
  width: 288px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;

}

    
@media only screen and (min-width: 768px) {
   .features-text{
    width: 356px;
    
  }
}

@media only screen and (min-width: 1158px) {
   .features-text{
    font-weight: 400;
    width: 264px;

  }
}
/* Team-section */
.team {
  background-color: #f4f4fd;
}
.card-text {
  padding: 32px 0;
  text-align: center;
}
.socials-link {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.team-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
.team-icons {
  fill: #f4f4fd;
}
.team-list {
  


  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
   .team-list{
    gap: 64px 24px;
    
  }
}
@media only screen and (min-width: 1158px) {
   .team-list{
    list-style: none;
  display: flex;
  gap: 24px;
  }
}
.team-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  margin: 0 auto 72px;
}
.team-item {
  background-color: #ffffff;
  width: 264px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  justify-content: center;
}
.name-team {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  color: #434455;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.card-team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  padding-bottom: 32px;
}
/* Portfolio-section */

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  margin: 0 auto 72px;
}
.wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-card {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
   .portfolio-card {
    min-height: 300px;
    
  }
}


.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  padding: 0;
  margin: 0;
  
}
@media only screen and (min-width: 768px) {
   .portfolio-list{
   
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    list-style: none;
    
  }
}
@media only screen and (min-width: 1158px) {
   .portfolio-list{
    column-gap: 24px;
    row-gap: 48px;
  }
}

.portfolio-item {
  width: 288px;
  min-height: 400px;
  background-color: #ffffff;
  
   /* cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */

  
}
@media only screen and (min-width: 768px) {
   .portfolio-item{
    width: 356px;
    min-height: 420px;
    width: calc((100% - 24px) / 2);
  

    
  }
}
@media only screen and (min-width: 1158px) {
   .portfolio-item{
    width: 360px;
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
}


.portfolio-item h3 {
  margin-bottom: 8px;
}
.portfolio-item p {
  margin: 0;
}


 .marketing-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 1157px) {
   .overlay-text{
    display: none;
    
  }
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
  
}

.gruppe-portfolio {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}
/* Footer */

.site-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
@media only screen and (min-width: 768px) {
   .site-footer{
    padding: 96px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .site-footer {
    padding: 100px 0;
  }
}
.site-footer .container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  
 
  
}

@media only screen and (min-width: 768px) and (max-width:1157px) {
   .site-footer .container{
    
   max-width: 768px;
  margin-left: auto;
  margin-right: auto;
    padding-left: 108px;
    padding-right: 108px;
    gap: 72px 24px;
    justify-content: flex-start;
    
  
  
  
  }

}

@media only screen and (min-width: 1158px) {
   .site-footer .container{
    flex-wrap: nowrap;
    gap: 0;
    
  }
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  
}

.footer-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
   .footer-link-wrapper{
    /* margin-left: 108px; */
    align-items: flex-start;
    text-align: left;
    margin: 0;
    
    
    
   
  }
}
@media only screen and (min-width: 1158px) {
   .footer-link-wrapper{
    margin-left: 0;
     margin-right: 120px;
  }
}

.logo-main {
  color: #4d5ae5;
}

.logo-accent-footer {
  color: #f4f4fd;
}

.footer-paragraph {
  
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
   .footer-paragraph{
    max-width: 264px;
    
  }
}

.footer-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-media a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-text-wrapper{
  
      display: flex;
       flex-direction: column;
    gap: 16px
}
@media only screen and (min-width: 768px) {
   .social-text-wrapper{
    padding: 0;
    
  }
}
@media only screen and (min-width: 1158px) {
   .social-text-wrapper{
    margin-right: 80px;
  }
}

.social-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  
}
@media only screen and (min-width: 768px) {
   .social-text{
    text-align: justify;
  }
}

.social-media-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1158px) {
 .social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
}
.social-icons {
  fill: #f4f4fd;
  display: block;
}

.footer-subscribe-form{
  
}

@media only screen and (min-width: 1158px) {
   .footer-subscribe-form{
    
    padding-bottom: 0;
  }
}
.footer-subscribe-form-text{
margin-bottom: 16px;
letter-spacing: 0.02em;
color: #ffffff;
font-weight: 500;
text-align: center;
}
@media only screen and (min-width: 768px) {
   .footer-subscribe-form-text{
    margin-left: 0;
    text-align: left;
  }
}
.footer-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
   .footer-form{
flex-wrap: nowrap;
gap: 24px;
    
  }
}
.footer-modal-form-input{
width: 288px;
height: 40px;
padding-left: 16px;
background-color: transparent;
border-radius: 4px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
font-size: 12px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
border: 1px solid rgb(255, 255, 255);
border-radius: 4px;
/* opacity: 0.3; */

}
@media only screen and (min-width: 768px) {
   .footer-modal-form-input{
    width: 264px;
  }
}

.footer-modal-form-input::placeholder{
  color: #ffffff;
}



.footer-form button {
  display: flex;
align-items: center;
justify-content: center;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.04em;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form button:hover,
.footer-form button:focus{
  background-color: #404bbf;
}
.footer-subscribe-icon{
  fill: currentColor;
  

  
}

  


/*Modal Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(46, 47, 66, 0.4);

  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.backdrop.is-open {
  opacity: 1;
  
  visibility: visible;
  pointer-events: initial;
}
.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;

  padding-top: 72px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 24px;

   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 767px) {
   .modal{
    width: 288px;
    min-height: 623px;
    
  }
}
.backdrop.is-open .modal {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}
.modal-btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  cursor: pointer;
  padding: 0;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon:hover,
.modal-btn-icon:focus{
  fill: #ffffff;
}

.modal-caption {
  font-weight: 500;
  max-width: 360px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
   color: #2E2F42
}

.modal-form-field {
  margin-bottom: 8px;
}
.modal-form > div:nth-child(4) {
margin-bottom: 16px;
}
  
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 11px 38px;
  font-size: 18px;
  background-color: transparent;
  outline: transparent; 

}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4); 
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent; 

}
.modal-form-comment:focus {
  border-color: #4d5ae5;
}
.modal-form-comment::placeholder {
  color: rgb(46, 47, 66, 0.4);
}
.form-agreement {
  margin-bottom: 24px;
}
.agreement-wrapper {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

}
.agreement-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.checkbox-input:checked + .agreement-wrapper > .agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.agreement-link-accent-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: #4d5ae5;
}

/*Mobile Menu*/

.mobile-menu {
position: fixed;
top: 0;
left: 0;

width: 100%;
height: 100%;

transform: translateX(100%);
background-color: #ffffff;

transition: transform 400ms ease-in;
}
@media only screen and (min-width: 768px) {
   .mobile-menu{
    display: none;
    
  }
}
.mobile-menu.is-open{
  transform: translateX(0);
}
 .mobile-menu .container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 72px 16px 40px;
 }

.mobile-menu-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
 background-color: transparent;
 border: none;
}
 
@media only screen and (min-width:768px) {
  .mobile-menu-btn{
    display: none;
  }
  
}

.mobile-menu-icon{
 fill: #2E2F42;

}
@media not (hover: hover) {
  .mobile-menu-btn:active .mobile-menu-icon{
  fill: #404bbf;
}
}

 .mobile-menu .mobile-menu-btn{
  position: absolute;
  top: 24px;
  right: 24px;

  border: 1px solid #E7E9FC;
  border-radius: 100%;

}

.mobile-menu-nav{
  margin-bottom: auto;
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
}

.mobile-menu-nav .mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;


}
.mobile-menu-link{
color: #2E2F42;
text-decoration: none;

}
.mobile-menu-contacts{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.mobile-menu-link-active{
  color: #404BBF;
  text-decoration: none;
}
.mobile-menu-contacts .mobile-menu-item:first-child .mobile-menu-link{
  color: #4D5AE5;
}
.mobile-menu-contacts{
  margin-bottom: 48px;
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;

}
.mobile-socials-link{
  display: flex;
  gap: 40px;
}